#singleAuthorPageInfo{
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    
    border-bottom: 2px solid black;
    
}
#singleAuthorPageInfo img{
    width: 300px;
    height: 200px;
    padding-bottom: 30px;
}
.info {
    display: inline-block;
    margin-left: 20px;
}
.info h1 {
    font-size: 40px;
}
.info p {
    font-size: 25px;
    padding: 10px 0;
}
